<h1>プロフィール編集</h1>

<%= form_with(model: @profile, url: profile_path, method: :patch) do |form| %>
  <div>
    <%= form.label :message, '自己紹介・ひとこと' %><br>
    <%= form.text_area :message, rows: 5, cols: 60 %>
  </div>

  <div>
    <%= form.submit '更新する' %>
  </div>
<% end %>

<br>
<%= link_to 'トップページに戻る', root_path %>